.sizes{padding-left:20px; 
margin-left:20px; 
height:30px; 
width:300px; 
margin-top:15px; 
border-radius:5px;}

select{margin-left:20px; 
margin-top:20px;}

textarea{margin-left:20px;}

Form{ background-color:darkblue; 
height:550px; 
width:500px; 
text-align:center; 
font-size:18px; 
color:white;}

td{font-weight:bold; 
color:white;}

.but{margin-top:-25px; 
margin-left:380px; 
font-weight:bold; 
height:25px; 
width:100px; 
background-color:pink;}


